@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::placeholder {
    text-align: center;
    font-size: 1rem;
    font-weight: var(--fw-normal);
    font-size: 13px;
    color: white;

}

:root {
    --clr-primary: #ed1834;
    /* --clr-dark: #2e2a2b; */
    --clr-dark: #191B1D;
    --clr-light: #f5f5f5;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semiBolt: 600;
    --fw-bold: 700;
    --fw-black: 900;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-dark);
    line-height: 1.6;
}

a {
    color: var(--clr-dark);
    text-decoration: none;
}

h1 {
    line-height: 1;
    font-size: 40px;
    font-weight: var(--fw-bold);
} 

h3 {
    font-size: 20px;
    font-weight: var(--fw-semiBolt);
}

p {
    margin-top: 0;
    font-size: 15px;
    font-weight: var(--fw-normal);
}

ul {
    list-style: none;
}

nav {
    background: var(--clr-light);
    padding: 16px;
    width: 100%; 
    position: fixed;
	top: 0;
    z-index: 100;
}


footer {
    background: var(--clr-dark);
}


/* Nav */

.main-nav {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    width: 178px;
    height: 60px;
}

.main-nav ul li:hover {
    border-bottom: 1px solid var(--clr-primary);
} 

.nav-list {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-weight: var(--fw-medium);
}

.nav-list .nav-list-item {
    margin: 0 10px;
}


.nav-media {
    display: flex;
    align-items: center;
    
}

.nav-media div {
    margin: 0 5px;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none; 
}

@media(max-width: 840px) {
    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .nav-list {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        background: var(--clr-primary);
        width: 40%;
        height: 1000px;
        border: 1px solid #ccc;
        opacity: 0.9;
        padding: 20px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out; 
    }

    .nav-list.show {
        transform: translateX(-20px);
    }

    .nav-list li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .main-nav ul li:hover {
    border-bottom: 1px solid var(--clr-dark);
} 

    .nav-list-item a {
        color: var(--clr-dark);
        font-weight: var(--fw-medium);
        font-size: 14px;
    }

    .nav-media {
        margin-right: 50px;
    }
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: .5em 1.25em;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: var(--fw-normal);
    margin-bottom: .5em;
}

.btn-primary {
    
    background-color: var(--clr-primary);
    color: var(--clr-light)
}

.btn-primary:hover {
    background-color: var(--clr-dark);
}

.btn-outline {
    outline: 3px solid var(--clr-primary);
    color: var(--clr-primary);
    outline-offset: -3px;
}

.btn-outline:hover {
    background-color: var(--clr-dark);
    outline-color: var(--clr-dark);
    color: var(--clr-light)
} 

@media(max-width: 700px) {
    .nav .nav-list {
        display: block;
        position: absolute;
        justify-content: center;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(237,24,52,1) 0%, rgba(0,0,0,0.577468487394958) 100%);
        width: 100%;
        border-bottom: 1px solid var(--clr-dark);
        padding: 15px;
        
    }

    .nav .nav-list li {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
    }

    .nav .nav-list li ul {
        color: var(--clr-light);
    }
}

/* Section  showcase*/

.showcase {
    width: 100%;
    min-height: 650px;
    background: url("../images/main_bw.jpg") no-repeat right;
    background-size: cover;
    background-color: var(--clr-light);
    padding: 48px 30px; 
    margin-bottom: 0px;
}



.main-title {
    width: 40%;
    line-height: 1;
    font-weight: var(--fw-bold);
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 30px;  
} 

.main-intro {
    width: 40%;
    margin-bottom: 30px;
    font-weight: var(--fw-normal);
    font-size: 15px;
}   

/* section movies */
.container {
    width: 100%;
    padding: 50px 50px;
    background-color: white;
}

.movie {
    display: flex;
    background: white;
    color: #191B1D;
    width: 100%;
    justify-content: space-evenly;
    padding: 30px 0px; 
    gap: 5px;
}

.movie .about {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center; 
    justify-content: center; 
    background-color: var(--clr-light);
    padding: 0 20px;
}

.about h1 {
    font-family: 'Shadows Into Light';
    color: var(--clr-primary);
    line-height: 1;
    font-weight: var(--fw-bold);
    font-size: 40px;
    margin-bottom: 30px; 
} 

.about p {
    margin-bottom: 30px;
    font-weight: var(--fw-normal);
    font-size: 15px;
} 

.movie .frame {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    align-items: center; 
    justify-content: center; 
}

.player {
    position: relative;
    padding-bottom: 56.25%;
    height: 100%;
    width: 100%;
}

.player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 910px) {
    .movie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .movie .about {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
    }

    .movie .frame {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        
    } 
}

/* offer section */

.offer {
    width: 100%;
    background: var(--clr-dark);
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 5px;
    padding: 30px 0;
    
}

.offer .box-1 {
    background:var(--clr-light);
    display: flex;
    width: 95%;
    padding: 15px 0;
    justify-content: center; 
    align-items: center;
}

.box-1 .title {
    color: var(--clr-primary);
    font-family: 'Shadows Into Light';
    
}

.offer .box-2 {
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-between; 
}

.box-2 .offer-card {
    width: 33%;
    background: var(--clr-light);
    color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.offer-card h4 {
    margin-bottom: 20px;
}

.offer-card p {
    margin-bottom: 5px; 
}

.offer-card p:before {
    content: '•';
    margin-right: 10px;
    color: var(--clr-light);
}

.offer-card strong {
    color: var(--clr-primary);
}


.offer .box-3 {
    background:var(--clr-light);
    display: flex;
    width: 95%;
    padding: 15px 20px;
    color: var(--clr-dark);
    align-items: center;
    border-bottom: 5px solid white;
}

.info p{
    margin: 5px;
}

/* showcase team */


.team {
    background: white;
    color: black;
    display: flex;
    padding: 30px 0px; 
    justify-content: space-between; 
    gap: 5px;
    
}

.trainer {
    background: var(--clr-light);;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "pic name name"
        "describe describe describe"
}    

.pic-1 {
    background: url('../images/marcin-bt.png') no-repeat;
    background-size: cover;
    grid-area: pic;
    height: 280px;
    width: 180px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pic-2 {
    background: url('../images/robert-bt.png') no-repeat;
    background-size: cover;
    grid-area: pic;
    height: 280px;
    width: 180px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: name;
    height: 300px;
    margin: 0 30px;
    padding: 10px 0px;
}

.name h2 {
    font-weight: var(--fw-semiBolt);
    margin-bottom: 7px;
}

.name h5 {
    font-weight: var(--fw-medium);
    margin-bottom: 7px;
}

.trainer .describe {
    grid-area: describe;
    padding: 30px;
    background: var(--clr-primary);
}

@media(max-width: 900px) {
    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .team .trainer {
        width: 100%;
        height: 50%;
    } 

    .trainer div {
        padding: 30px;
    }

    .trainer p {
        padding: 20px;
    }
}

/* footer contact */

.contact-form {
    display: flex;
    background: linear-gradient(180deg, rgba(237,24,52,1) 5%, rgba(0,0,0,1) 85%);
    
}

.contact-form .header {
    flex: 1;
    padding: 100px 60px;
    color:var(--clr-light)
}

.header h1 {
    font-family: 'Shadows Into Light';
    color: var(--clr-dark);
    margin-bottom: 30px;
}


.contact-form .card-box {
    flex: 2;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box .container-1 { 
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.container-1 .input-box {
    margin: 10px;
}

.container-1 form {
    width: 80%;
}

.container-1 .input-box input {
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid var(--clr-light);
    color: white
}

.container-1 .input-message {
    margin: 10px;
}

.container-1  textarea {
    height: 140px;
    width : 100%;
    resize: none;
    outline: none;
    background: transparent;
    border: 1px solid var(--clr-light);
    letter-spacing: 1px;
    color: white;
} 

.container-1 .button {
    margin: 0px 10px;
}

.container-1 button {
    cursor : pointer;
    width: 100%;
    height: 35px;
    outline: none;
    font-weight: var(--fw-normal);
    font-size: 1em;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.container-1 button:hover {
    background: radial-gradient(circle, rgba(199,26,49,1) 0%, rgba(0,0,0,1) 60%);
    color: var(--clr-light);
}


/* footer container */

.container-2 {
    display: flex;
    width: 100%;
    background: black;
}

@media (max-width: 950px) {
    .container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container-2 div {
        display: flex;
        justify-content: space-around;
    }
}



.container-2 img {
    width: 120px;
    height: 40px;
}

.container-2 .box-copyright {
    display: flex;
    flex-grow: 4;
    flex-direction: row;
    margin: 25px 15px 25px 40px;
    padding-top: 20px;
    color: var(--clr-light)
} 

.container-2 .box-nav {
    display: flex;
    flex-grow: 4;
    flex-direction: row;
    margin: 25px 15px;
    padding-top: 20px;
    color: var(--clr-light)
} 

.box-nav a {
    color: var(--clr-light);
}

.box-nav p {
    margin: 0 20px;
    font-weight: var(--fw-normal);
}


.container-2 .box-media {
    display: flex;
    flex-grow: 4;
    flex-direction: row;
    margin: 25px 15px;
    padding-top: 20px;
    color: var(--clr-light)
} 

.box-media a {
    color: var(--clr-light);
}

.box-media p {
    margin: 0 20px;
    font-weight: var(--fw-normal);
}

@media (max-width: 950px) {
    .container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container-2 div {
        display: flex;
        justify-content: space-around;
    }

    .container-2 .box-copyright {
        margin: 5px;
    }

    .container-2 .box-nav {
        margin: 5px 
    }

    .box-nav .nav-link {
        margin: 0 20px;
    }

    .container-2 .box-media {
        margin: 5px;
    }

    .box-media p {
        margin: 0 60px;
    }
}


























































