<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoFit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <header id="main">
        <nav class="nav">
            <a href="#main"><img src="{{ url_for('static', filename='img/logo.svg')}}" width="178" height="61" class="logo"></a>
            <div class="menu-wrap">
                <div class="main-nav">
                    <ul class="nav-list">
                        <li class="nav-list-item"><a href="#main" class="nav-link">Start</a></li>
                        <li class="nav-list-item"><a href="#what-we-do" class="nav-link">Co robimy</a></li>
                        <li class="nav-list-item"><a href="#offer" class="nav-link">Oferta</a></li>
                        <li class="nav-list-item"><a href="#team" class="nav-link">Zespół</a></li>
                        <li class="nav-list-item"><a href="#contact" class="nav-link">Kontakt</a></li>
                    </ul>
                </div>

                <div class="media-icon">
                    <div class="facebook-icon">
                        <img src="{{ url_for ('static', filename='img/facebook-35.png')}}">
                    </div>
                    <div class="instagram-icon">
                        <img src="{{ url_for ('static', filename='img/instagram-35.png')}}">
                    </div>
                    <div class="linkedin-icon">
                        <a href="https://www.linkedin.com/company/10136406/" target="_blank" alt=""><img
                        src="{{ url_for ('static', filename='img/linkedin-35.png')}}"></a>
                    </div>
                </div>
            </div>

            <div class="button">
                <div class="hamburger-btn ">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
                </div>
            </div>
        </nav>

        <div class="main main-img">
            <h1 class="main-title">„Zespół, który ma efektywnie pracować,
                potrzebuje narzędzi umożliwiających mu taką pracę.”</h1>
            <p class="main-intro">Zadbaj o zdrowie swoje i swoich pracowników. GoFit to program prozdrowotnych zajęć w
                miejscu pracy który wpływa pozytywnie na zdrowie psychiczne i fizyczne pracowników oraz sprzyja
                budowaniu pozytwnej atmosfery w zespole.</p>
            <a href="#offer" class="btn btn-primary">Sprawdź oferta dla firm</a>
            <!-- <a href="" class="btn btn-outline">Oferta indywidualna</a> -->
        </div>
    </header>

    <section id="what-we-do">
        <div class="movie">
            <div class="info">
                <h1>Co robimy</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis id perferendis necessitatibus velit
                    explicabo illo? Tempore nihil architecto, praesentium molestias at voluptatibus, ipsum optio nobis
                    deleniti. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni temporibus maxime magnam,
                    quo nostrum aut similique nesciunt possimus velit libero.</p>
            </div>
            <div class="player">
                <iframe src="https://www.youtube.com/embed/_hNNaj4zd5w?rel=0" width="560" height="315"
                    title="GoFit [original]" frameborder="0">
                </iframe>
            </div>
        </div>
    </section>

    <section id="offer">
        <div class="service-section">
            <div class="section-title">
                <h1>Wybierz plan dla swojej firmy</h1>
            </div>
            <div class="services">
                <div class="service-box">
                    <div class="service-title">
                        <h2>Plan Podstawowy</h2>
                        <h2>4 zajęcia w miesiącu</h2>
                    </div>
                    <div class="service-info">
                        <p><strong>Czas trwania zajęć</strong>: do 30min</p>
                        <p><strong>Miejsce zajęć:</strong> przestrzeń biurowa, sala konferencyjna</p>
                        <p><strong>Ubiór:</strong> strój codzienny, wygodne obuwie na płaskiej podeszwie</p>
                        <p><strong>Data ważności:</strong> zajęcia ważne są 30 dni od daty rozpoczęcia zajęć</p>
                        <p><strong>Ceny podane w tabeli są cenami brutto</strong></p>
                    </div>
                    <div class="service-main-info">
                        <div class="option">
                            <h3>Cena: 1800zł</h3>
                            <h5>liczba uczestników do 10 osób</h5>
                        </div>
                        <div class="option">
                            <h3>Cena: 3200zł</h3>
                            <h5>liczba uczestników do 20 osób</h5>
                        </div>
                        <div class="option">
                            <h3>Cena: 4800zł</h3>
                            <h5>liczba uczestników do 30 osób</h5>
                        </div>
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-title">
                        <h2>Plan Standart</h2>
                        <h2>8 zajęcia w miesiącu</h2>
                    </div>
                    <div class="service-info">
                        <p><strong>Czas trwania zajęć</strong>: do 30min</p>
                        <p><strong>Miejsce zajęć:</strong> przestrzeń biurowa, sala konferencyjna</p>
                        <p><strong>Ubiór:</strong> strój codzienny, wygodne obuwie na płaskiej podeszwie</p>
                        <p><strong>Data ważności:</strong> zajęcia ważne są 30 dni od daty rozpoczęcia zajęć</p>
                        <p><strong>Ceny podane w tabeli są cenami brutto</strong></p>

                    </div>
                    <div class="service-main-info">
                        <div class="option">
                            <h3>Cena: 1800zł</h3>
                            <h5>liczba uczestników do 10 osób</h5>
                        </div>
                        <div class="option">
                            <h3>Cena: 3200zł</h3>
                            <h5>liczba uczestników do 20 osób</h5>
                        </div>
                        <div class="option">
                            <h3>Cena: 4800zł</h3>
                            <h5>liczba uczestników do 30 osób</h5>
                        </div>
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-title">
                        <h2>Plan Premium</h2>
                        <h2>12 zajęcia w miesiącu</h2>
                    </div>
                    <div class="service-info">
                        <p><strong>Czas trwania zajęć</strong>: do 30min</p>
                        <p><strong>Miejsce zajęć:</strong> przestrzeń biurowa, sala konferencyjna</p>
                        <p><strong>Ubiór:</strong> strój codzienny, wygodne obuwie na płaskiej podeszwie</p>
                        <p><strong>Data ważności:</strong> zajęcia ważne są 30 dni od daty rozpoczęcia zajęć</p>
                        <p><strong>Ceny podane w tabeli są cenami brutto</strong></p>
                    </div>
                    <div class="service-main-info">
                        <div class="option">
                            <h3>Cena: 1800zł</h3>
                            <h5>liczba uczestników do 10 osób</h5>
                        </div>
                        <div class="option">
                            <h3>Cena: 3200zł</h3>
                            <h5>liczba uczestników do 20 osób</h5>
                        </div>
                        <div class="option">
                            <h3>Cena: 4800zł</h3>
                            <h5>liczba uczestników do 30 osób</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="team-title">
            <h1>Nasz Zespół</h1>
        </div>
        <div class="container">
            <div class="trainer-team">
                <div class="trainer-pic-1"></div>
                <div class="trainer-name">
                    <p>Marcin Wojtczak</p>
                    <p>Trener Medyczny</p>
                    <p>Trener Przygotwania Motorycznego</p>
                    <p>Trener Personalny</p>
                </div>
                <div class="trainer-info">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil quas sit inventore, modi dolorem
                        commodi ullam dicta. Vel, harum tempore ipsum totam saepe ex, pariatur ipsa sunt animi porro
                        magnam sit, obcaecati similique fuga? Eum dolorem ut voluptas quibusdam fuga?
                    </p>
                </div>
            </div>

            <div class="trainer-team">
                <div class="trainer-pic-2"></div>
                <div class="trainer-name">
                    <p>Marcin Wojtczak</p>
                    <p>Trener Medyczny</p>
                    <p>Trener Przygotwania Motorycznego</p>
                    <p>Trener Personalny</p>
                </div>
                <div class="trainer-info">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil quas sit inventore, modi dolorem
                        commodi ullam
                        dicta. Vel, harum tempore ipsum totam saepe ex, pariatur ipsa sunt animi porro magnam sit,
                        obcaecati similique fuga?
                        Eum dolorem ut voluptas quibusdam fuga?
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="footer" id="contact">
        <div class="contact">
            <dic class="contact-info">
                <h1>Skontaktuj się z nami</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo consequatur fuga, temporibus
                    praesentium nulla ad reiciendis. Explicabo quos quas pariatur nisi aliquam corrupti laudantium
                    dolorem reiciendis, veniam sint delectus assumenda consequatur repellat magnam tempore saepe soluta,
                    excepturi earum? Minima illum quibusdam non laudantium quasi in natus voluptatum. Ex, quia
                    distinctio?
                </p>
            </dic>

            <div class="contact-form">
                <form action="/" method="POST">
                    <div class="input-box">
                        <input type="text" name="subject" placeholder="Temat" required>
                    </div>
                    <div class="input-box">
                        <input type="text" name="company_name" placeholder="Nazwa Firmy">
                    </div>
                    <div class="input-box">
                        <input type="text" name="email" placeholder="Email" required>
                    </div>
                    <div class="input-message">
                        <textarea name="message" placeholder="Wiadomość" required></textarea>
                    </div>
                    <div class="button">
                        <button type="submit">Wyślij</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer class="content-info">
        <div class="column">
            <div class="logo">
                <a href="#main"><img src="{{ url_for('static', filename='img/logo_bw.svg')}}" width="152" height="52"alt=""></a>
            </div>
            <div class="social-media-icon">
                <div class="facebook-icon">
                    <img src="img/facebook-35.png" alt="">
                </div>
                <div class="instagram-icon">
                    <img src="img/instagram-35.png" alt="">
                </div>
                <div class="linkedin-icon">
                    <a href="https://www.linkedin.com/company/10136406/"><img src="img/linkedin-35.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="menu">
                <h5>Mapa Strony</h5>
                <a href="#main">
                    <p>Start</p>
                </a>
                <a href="#what-we-do">
                    <p>Co Robimy</p>
                </a>
                <a href="#offer">
                    <p>Oferta</p>
                </a>
                <a href="#team">
                    <p>Zespół</p>
                </a>
                <a href="#contact">
                    <p>Kontakt</p>
                </a>
            </div>
        </div>

        <div class="column">
            <div class="menu">
                <h5>Kontakt</h5>
                <p>Nr telefonu: 531 787 144</p>
                <p>Adres email: gofit@interia.pl</p>
            </div>
        </div>

        <div class="column">
            <div class="menu">
                <p>&copy; 2022 GoFit</p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>